nav {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #3e8e41;
    color: #000;
}

nav ul li a.active {
    background-color: #007bff;
    color: white;
}
/* Style for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
