
.pagination {
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center; 
    margin-right: 200px;
    /* Align items vertically */
}
.pagination .page-item {
    margin: 0 12px;
    font-size: 20px;
    text-decoration: none; /* Adjust as needed */
}
/* Hover color */
.page-item:hover .page-link {
    background-color: #ff0066;
    
}
a.page-link
{
    display: inline-block;
    padding: 10px 10px; /* Adjust padding as needed */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline */
     border-radius: 4px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}
ul
{
list-style-type: none;
}
span{
    color: #000000; /* Button text color */
    font-size: 30px;
}
