body {
    background-color: #003A70;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Container */

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}


/* Item Details Styles */

.item-details-container {
    background-color: #0D2544;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 500px; */
}

.section-heading {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.item-details-container h2 {
    margin-left: 0;
}

.item-details-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.item-details-card {
    background-color: #0D2544;
    border-radius: 8px;
    padding: 20px;
}

.item-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}

.item-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 5rem;
    font-size: 20px;
}

.label {
    font-weight: bold;
}


/* Customer Details Styles */

.customer-details-container {
    background-color: #0D2544;
    border-radius: 8px;
    padding: 30px;
}

.customer-details-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    background-color: #F2F2F2;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.form-button {
    background-color: #5CB85C;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}