/* Layout */
.container {
    display: flex;
}

.filter-search {
    width: 20%;
    padding: 20px;
    background: #002E5E;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar_order {
    padding: 20px;
    background: #002E5E;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Typography */
h2 {
    color: #ffffff;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: white;
}

/* Radio Buttons */
.radio-group {
    display: flex;
    flex-direction: column;
    color: #fff;
}

label {
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

input[type="radio"] {
    display: none;
}

.custom-radio {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
}

input[type="radio"]:checked + .custom-radio::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 2px;
    width: 8px;
    height: 12px;
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Checkboxes */
.custom-checkbox-category,
.custom-checkbox-purity,
.custom-checkbox-kind {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 3px;
    position: relative;
    margin-right: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.custom-checkbox-category:after,
.custom-checkbox-purity:after,
.custom-checkbox-kind:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity 0.3s;
}

input[type="checkbox"][name="category"]:checked + .custom-checkbox-category,
input[type="checkbox"][name="metal_purity[]"]:checked + .custom-checkbox-purity,
input[type="checkbox"][name="kind[]"]:checked + .custom-checkbox-kind {
    background-color: #2196F3;
    border-color: #2196F3;
}

input[type="checkbox"][name="category"]:checked + .custom-checkbox-category:after,
input[type="checkbox"][name="metal_purity[]"]:checked + .custom-checkbox-purity:after,
input[type="checkbox"][name="kind[]"]:checked + .custom-checkbox-kind:after {
    opacity: 1;
}

/* Page 2 Specific Styles */
.page-2 .custom-radio {
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
}

.page-2 .inner-circle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #007BFF;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.page-2 input[type="radio"]:checked + .custom-radio {
    border-color: #007BFF;
    background-color: #007BFF;
}

.page-2 input[type="radio"]:checked + .custom-radio .inner-circle {
    display: block;
}

/* Buttons */
.reset-button {
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #1976D2;
}

.reset-button:active {
    background-color: #155A8A;
}
